* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.background_blue_rain_animated{

  width: 100%;
  height: 300px;
  background: url(assets/background_blue_rain_animated.svg) no-repeat; 
  background-size: cover;
  background-color: #15003e;

  display: grid;
  

}

.background_blue_rain_animated span{
	color: white;
	font-size: 40px;
	font-family: sans-serif;
	margin: auto;
}


